body{
  background-color: rgb(249, 236, 239); /*uwu modora color*/

}
.idek{
  font-family: 'Work Sans', sans-serif;
  color: rgb(105, 105, 105);
}
.reee{
  min-width: 80%;
  font-family: 'Work Sans', sans-serif;
  color: rgb(105, 105, 105);
  padding: 5px;
}
#content{
  /*min-height: 80%;*/
  overflow: auto;
}
#ugly{
  background-color: rgb(234,201,215);
  padding: 20px;
  color: white;
  border: solid rgb(105, 105, 105) 1px;
  max-width: 90%;
}
#send{
  background-color: white;
  border: solid rgb(105, 105, 105) 1px;
  height: 25px;
}
#send:hover{
  background-color: rgb(234,201,215);
  color :white;
}
