/*not me just taking modora's color scheme*/

:root {
  --lpink: rgb(249, 236, 239); 
  --dgray: rgb(105, 105, 105);
  --dpink: rgb(234, 201, 215);
}

body{
  background-color: var(--lpink);
  margin: 30px;
  margin-top: 40px;
}

label{
 display: inline-block;
}

.idek{
  font-family: 'Work Sans', sans-serif;
  color: var(--dgray);
}

.smoltext{
  font-size: 12px;
  padding-bottom: 2px;
}

.reee{
  min-width: 80%;
  font-family: 'Work Sans', sans-serif;
  color: var(--dgray);
  padding: 5px;
}

.ugly{
  background-color: var(--dpink);
  padding: 20px;
  color: white;
  border: solid var(--dgray) 0.5px;
  max-width: 90%;
}

.send{
  background-color: white;
  border: solid var(--dgray) 0.5px;
  height: 25px;
}

.send:hover{
  background-color: var(--dpink);
  color :white;
}
